<div class="container">

  <div class="legenda"> 
    <button type="button" (click)="reiniciarJogo()">Reiniciar jogo</button>  
    <p class="tempo" *ngIf="!fimDeJogo; else fim">{{ tempoRestante }}</p> 
    
    <ng-template #fim>
      <p class="tempo">{{ fimDeJogoMsg }}</p>
    </ng-template>
    
    <p>Tentativas: {{ jogadas }}</p>    
  </div>
    
  <p class="pontuacao">{{ pontuacao }}</p>  
  
    <div class="jogo-memoria" *ngIf="cartas">    
    <div *ngFor="let carta of cartas" 
      (click)="viraCarta(carta)" 
      [ngClass]="[(carta.estaVirada)? 'carta flip desabilitado' : 'carta', travarCartas? 'desabilitado' : '']">
        <img class="carta-frente" [src]="carta.img" alt="Frente da carta">
        <img class="carta-verso" src="./assets/img/card-back.png" alt="Verso da carta">
    </div>
  </div>
  
</div>